/* nastylovat text - transition */

.story_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #d1a75c;
  padding: 0 130px;
  font-size: 2rem;
  font-family: "Inconsolata", serif;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
}

.btn {
  font-family: "Inconsolata", serif;
  font-size: 2rem;
  color: #e2c17c;
  /* border: 1px solid rgba(255, 255, 255, 0.504); */
  border-radius: 10px;
  background-color: rgb(12, 19, 15, 0);
  padding: 5px 10px;
  margin-right: 50px;
  cursor: pointer;
}
