.header {
  height: 320px;
}

.header_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 100%;
}

.logo {
  font-family: "Merriweather";
  font-size: 5rem;
  color: #e2c17c;
  text-shadow: -1px -1px 1px #1b1616, 1px 1px 1px #555;
  text-decoration: none;
}

.btn_start {
  font-family: "Inconsolata", serif;
  font-size: 2rem;
  color: #e2c17c;
  border-radius: 10px;
  background-color: rgb(12, 19, 15, 0);
  padding: 5px 10px;
  margin-right: 50px;
  cursor: pointer;
}
