.user_info {
  padding: 40px 20px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 500px;
  margin: 0 auto;
}

.user_name {
  font-size: 1.4rem;
  color: var(--primary-color);
}

.input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--primary-color);
  font-size: 1.4rem;
  margin-left: 13px;
  color: var(--primary-color);
  width: 100%;
  max-width: 225px;
}
.input:focus {
  outline: none;
  border-bottom: 2px solid var(--border-color);
}

.submit {
  display: flex;
  justify-content: flex-end;
}

.submit_btn {
  background: rgba(148, 92, 8, 0.487);
  border-radius: var(--border-radius);
  border: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  padding: 5px 12px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.submit_btn:hover {
  box-shadow: var(--box-shadow);
  background-color: rgba(226, 193, 124, 0.05);
}

@media (max-width: 979px) {
  .submit_btn {
    padding: 6px 10px;
  }
}
