.user_info {
  padding-top: 40px;
}

.user_name {
  font-family: "Inconsolata", serif;
  font-size: 1.3rem;
}

.input {
  background-color: rgb(12, 19, 15, 0);
  height: 35px;
  width: 150px;
  border-radius: 10px;
  border: 1px solid #e2c17c;
  color: #e2c17c;
  font-weight: 700;
}

.input:hover {
  outline: none;
  box-shadow: 0 0 5px #e2c17c;
  background-color: rgba(226, 193, 124, 0.05);
  transition: box-shadow 0.3s, background-color 0.3s;
}

.submit {
  display: flex;
  justify-content: flex-end;
  padding: 15px;
}

.submit_btn {
  font-family: "Inconsolata", serif;
  font-size: 1.2rem;
  background-color: rgba(226, 193, 124, 0.05);
  color: #e2c17c;
  border-radius: 10px;
  transition: 0.2s;
  padding: 5px 10px;
}

@media (max-width: 979px) {
  .submit_btn {
    padding: 0 5px;
    border: none;
  }
}

.submit_btn:hover {
  box-shadow: 0 0 5px #e2c17c;
  background-color: rgba(226, 193, 124, 0.05);
  transition: box-shadow 0.3s, background-color 0.3s;
}

@media (max-width: 979px) {
  .submit_btn:hover {
    outline: none;
    border: none;
  }
}
