.user_info {
  padding: 40px 20px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 500px;
  margin: 0 auto;
}

.user_name {
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  color: #d1a75c;
  /* display: flex;
  align-items: center; */
}

.input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #d1a75c;
  font-family: "Montserrat";
  font-size: 1.4rem;
  color: #d1a75c;
  width: 100%;
  max-width: 250px;
}
.input:focus {
  outline: none;
  border-bottom: 2px solid #e2c17c; /* např. zvýraznění při aktivaci */
}

.submit {
  display: flex;
  justify-content: flex-end;
}

.submit_btn {
  background: rgba(148, 92, 8, 0.487);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  color: white;
  cursor: pointer;
  transition: box-shadow 0.3s, background-color 0.3s;
}

.submit_btn:hover {
  box-shadow: 0 0 5px #e2c17c;
  background-color: rgba(226, 193, 124, 0.05);
}

@media (max-width: 979px) {
  .submit_btn {
    padding: 6px 10px;
  }
}
