:root {
  --primary-color: rgb(209, 167, 92);
  --secondary-color: rgba(255, 255, 255, 0.1);
  --border-color: rgb(226, 193, 124);
  --box-shadow: 0 0 5px rgb(226, 193, 124);
  --border-radius: 10px;

  --primary-font: "Montserrat", sans-serif;
  --button-font: "Roboto", sans-serif;
  --fontSize8: 1.8rem;
  --fontSize5: 1.5rem;
  --fontSize3: 1.3rem;
  --fontSize2: 1.2rem;
}
