:root {
  --primary-color: #d1a75c;
  --border-color: #e2c17c;
  --primary-font: "Montserrat", sans-serif;
  --button-font: "Roboto", sans-serif;
  --box-shadow: 0 0 5px #e2c17c;
  --border-radius: 10px;
  --fontSize8: 1.8rem;
  --fontSize3: 1.3rem;
  --fontSize2: 1.2rem;
}
