* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  background-image: url(../public/lesHeader.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  color: #d1a75c;
  font-family: "Cormorant Garamond", serif;
  line-height: 1.6;
}
